<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <th:block th:fragment="footer">
        <footer>
            <hr>
            <div id="footer">
                <img th:src="@{/images/seoulLogo.png}" width="100px" height="100px" />
                <span id="copy">ⓒ이승규 연락처: good920312@naver.com</span>
                <img th:src="@{/images/seoulLogo.png}" width="100px" height="100px" />
            </div>
        </footer>
    </th:block>
</html>
