<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="comment">
    <script src="https://kit.fontawesome.com/57404fc0fb.js" crossorigin="anonymous"></script>

    <div class="talk-comment">

        <div id="cmt_list">

        </div>

        <!-- ROLE_MEMBER 권한 가진 사용자만 댓글 작성 가능 -->
        <div sec:authorize="hasAnyRole('ADMIN', 'MEMBER')" class="talk-comment-content talk-comment-write-wrap" >
            <img th:unless="${userImageComment}" th:src="@{/img/핑구.jpg}" width="40px" class="talk-writer-pic" />
            <img th:if="${userImageComment}" th:src="@{/upload/} + ${userImageComment.fileName}" width="40px" class="talk-writer-pic" />
            <div class="comment-writer-nickname" th:text="${logged_user.nickName}"></div>
            <input class="write-comment-input" type="text" id="input_comment" placeholder="댓글을 입력하세요" />
            <a class="raise-btn talk-btn" id="btn_comment">작성</a>
        </div>
    </div>

</th:block>

</html>