<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon" />
        <link rel="stylesheet" th:href="@{/css/common.css}" />
        <link rel="stylesheet" th:href="@{/css/communityList.css}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <script th:src="@{/js/communityList.js}"></script>

        <title>커뮤니티</title>
    </head>
    <body>
        <!-- header -->
        <th:block th:insert="~{fragment/header::header}"></th:block>

        <!-- section -->
        <div id="communityList-wrap">
            <div id="txt-section">
                질문하고 소통해요! &nbsp;
                <span>커뮤니티</span>
                <img src="/img/chat.png" height="30px" />
            </div>

            <div id="list-section">
                <div id="listHeader-wrap">
                    <div id="writeBtn">
                        <a th:href="@{/post/write}">작성하기</a>
                    </div>
                    <div id="frm-section">
                        <form name="searchFrm" th:action="@{/post/list}" method="GET">
                            <input type="text" id="search" name="searchTxt" th:value="${searchTxt}" placeholder="검색어를 입력하세요" />
                            <button type="submit" id="btnSearch">
                                <img src="/img/search.png" height="25px" />
                            </button>
                            <input type="hidden" id="inputOrderWay" th:value="${orderWay}" />
                            <select name="orderWay" id="orderWay">
                                <option value="newer">최신순</option>
                                <option value="recommend">추천순</option>
                            </select>
                        </form>
                    </div>
                </div>

                <div id="list-wrap">
                    <div id="thead">
                        <p>NO</p>
                        <p>제목</p>
                        <p>작성자</p>
                        <p>조회수</p>
                        <p>추천수</p>
                        <p>작성일</p>
                    </div>

                    <ul id="tbody">
                        <li class="list-content" th:each="post : ${list}">
                            <p class="post-no" th:text="${post.id}"></p>
                            <p class="post-title">
                                <a th:href="@{'/post/detail/' + ${post.id}}" th:text="${post.title}"></a>
                            </p>
                            <p class="post-writer" th:text="${post.user.nickName}"></p>
                            <p class="post-viewCnt" th:text="${post.viewCnt}"></p>
                            <p class="post-rcmCnt" th:text="${post.recommendCnt}"></p>
                            <p class="post-date" th:text="${#temporals.format(post.createDate, 'yyyy.MM.dd')}"></p>
                        </li>
                    </ul>
                </div>

<!--                <div id="pagination-wrap">-->
<!--                    <ul id="pagination-content">-->
<!--                        <li><a href="#"><img src="/img/prev.png" height="12px"></a></li>-->
<!--                        <li><a href="#">1</a></li>-->
<!--                        <li><a href="#">2</a></li>-->
<!--                        <li><a href="#">3</a></li>-->
<!--                        <li><a href="#">4</a></li>-->
<!--                        <li><a href="#">5</a></li>-->
<!--                        <li><a href="#"><img src="/img/next.png" height="12px"></a></li>-->
<!--                    </ul>-->
<!--                </div>-->

                <!-- pagination -->
                <th:block th:insert="~{fragment/pagination::pagination}"></th:block>
                <!-- pagination -->

            </div>
        </div>



        <!-- footer -->
        <th:block th:insert="~{fragment/footer::footer}"></th:block>
    </body>
</html>
