<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindergarden Form</title>
</head>
<body>

<form action="/protect/save/kindergarden" method="post">
    <label for="kinderName">KinderName:</label>
    <input type="text" id="kinderName" name="kinderName" required>

    <label for="establish">Establish:</label>
    <input type="text" id="establish" name="establish" required>

    <label for="oDate">Date:</label>
    <input type="text" id="oDate" name="oDate" placeholder="yyyy-MM-dd" required>

    <label for="addr">Address:</label>
    <input type="text" id="addr" name="addr" required>

    <label for="telNo">Telephone Number:</label>
    <input type="text" id="telNo" name="telNo" required>

    <label for="hpAddr">HP Address:</label>
    <input type="text" id="hpAddr" name="hpAddr" required>

    <label for="operTime">Operation Time:</label>
    <input type="text" id="operTime" name="operTime" required>

    <button type="submit">Submit</button>
</form>

</body>
</html>
