#logo {
    display: inline-block;
    width: 100px;
    height: 100px;

}

header {
    height: 150px;
    padding: 0;
    margin: 0;
}

#title {
    display: inline-block;
    width: 1000px;
    height: 35px;
    font-size: 4em;
    margin: 0;
    padding: 50px 110px 10px 30px;
    font-family: Gulim;
}

#main_img {
    width: 1000px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center top;
}

footer {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 950px;
    justify-content: center;
    text-align; center;
}

footer hr {
    width: 950px;
    margin: 0 0 0 15px;
}

footer #copy {
    font-family: seo;
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
}

#footer {
    display: block;
    width: 950px;
    justify-content: center;
    text-align: center;
}

#search-btn button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 20px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 1.5em;
}

#search-btn button:hover {
    background-color: #3e8e41;
}