<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>어린이집 상세</title>
</head>
<body>

<h2>어린이집 상세</h2>

<table>
    <thead>
    <tr>
        <th>시군구명</th>
        <th>어린이집명</th>
        <th>어린이집 유형</th>
        <th>운영현황</th>
        <th>상세주소</th>
        <th>전화번호</th>
        <th>홈페이지</th>
        <th>보육실수</th>
        <th>CCTV 갯수</th>
        <th>보육교직원수</th>
        <th>정원</th>
        <th>현원</th>
        <th>위도</th>
        <th>경도</th>
        <th>통학차량운영여부</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf 반복문을 사용하여 유치원 목록을 출력 -->
    <tr th:each="childHouse, stat : ${childHouse}">
        <td th:text="${childHouse.SIGUNNAME}"></td>
        <td th:text="${childHouse.CRNAME}"></td>
        <td th:text="${childHouse.CRTYPENAME}"></td>
        <td th:text="${childHouse.CRSTATUSNAME}"></td>
        <td th:text="${childHouse.CRADDR}"></td>
        <td th:text="${childHouse.CRTELNO}"></td>
        <td th:text="${childHouse.CRHOME}"></td>
        <td th:text="${childHouse.NRTRROOMCNT}"></td>
        <td th:text="${childHouse.CRCAPAT}"></td>
        <td th:text="${childHouse.CRCHCNT}"></td>
        <td th:text="${childHouse.LA}"></td>
        <td th:text="${childHouse.LO}"></td>
        <td th:text="${childHouse.CRCARGBNAME}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>