<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유치원 목록</title>
</head>
<body>

<h2>유치원 목록</h2>

<table>
    <thead>
    <tr>
        <th>No</th>
        <th>유치원명</th>
        <th>설립유형</th>
        <th>원장명</th>
        <th>주소</th>
        <th>전화번호</th>
        <th>홈페이지</th>
        <th>운영시간</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kinder, stat : ${kinder}">
        <td th:text="${stat.count}"></td>
        <td th:text="${kinder.KINDERNAME}"></td>
        <td th:text="${kinder.ESTABLISH}"></td>
        <td th:text="${kinder.LDGRNAME}"></td>
        <td th:text="${kinder.ADDR}"></td>
        <td th:text="${kinder.TELNO}"></td>
        <td th:text="${kinder.HPADDR}"></td>
        <td th:text="${kinder.OPERTIME}"></td>

    </tr>
    </tbody>
</table>

</body>
</html>