<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
    .layout{
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }
</style>
<body>
<div class="layout">
    <table>
        <thead>
            <tr>
                <th>공연/행사명</th>
                <th>날짜/시간</th>
                <th>대표이미지</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="together :${list}">
                <td th:text="${together.TITLE}">공연/행사명</td>
                <td th:text="${together.DATE}">날짜/시간</td>
                <td th:text="${together.MAIN_IMG}">날짜/시간</td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>