<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/main.js}"></script>

    <title>마이페이지</title>
</head>

<body>

<div class="container mt-3">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <h1>마이페이지</h1>
        </div>
    </div>

    <div class="row" th:each="user : ${list}">
        <div>
            <label>프로필사진</label>
            <div th:unless="${image}">
                <img th:src="@{/upload/leaf.png}" class="img-thumbnail" alt="프로필 이미지">
            </div>
            <div th:if="${image}">
                <img th:src="@{'/upload/' + ${image.fileName}}" class="img-thumbnail" alt="profile">
            </div>
            <form id="upfile" method="POST" th:action="@{/mypage/uploadImage}" enctype="multipart/form-data">
                <input type="hidden" th:value="${user.id}" name="userId">
                <input class="form-control col-xs-3" type="file" name="upfile" required>
                <button type="submit">변경완료</button>
                <button type="button" id="btnCancelImage">변경취소</button>
            </form>
            <button type="button" id="btnChangeImage">변경하기</button>
        </div>
        <div class="form-group mt-3">
            <label for="nickName">닉네임</label>
            <input type="text" class="form-control" id="nickName" name="nickName" th:value="${user.nickName}" disabled>
        </div>
        <div class="form-group mt-3" id="changeNickName">
            <div class="row mt-5">
                <div class="col-12 text-danger" th:text="${error_nickName}">
                    <!-- 오류 메세지 -->
                </div>
            </div>
            <form method="POST" th:action="@{/mypage/updateNickName}">
                <input type="hidden" th:value="${user.id}" name="userId">
                <input type="text" class="form-control" name="nickName" th:value="${user.nickName}">
                <button type="submit">닉네임 변경</button>
            </form>
        </div>
        <div class="form-group mt-3">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" name="name" th:value="${user.name}" disabled>
        </div>
        <div class="form-group mt-3">
            <label for="loginId">아이디</label>
            <input type="text" class="form-control" id="loginId" name="loginId" th:value="${user.loginId }" disabled>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-danger" th:text="${error_password}">
                <!-- 오류 메세지 -->
            </div>
        </div>
        <div class="form-group mt-3">
            <label for="btnChangePassword">비밀번호</label>
            <form id="changePassword" method="POST" th:action="@{/mypage/changePassword}">
                <input type="hidden" th:value="${user.id}" name="userId">
                <label>현재 비밀번호</label>
                <input class="form-control col-xs-3" type="password" name="nowPassword" id="nowPassword">
                <label>새로운 비밀번호</label>
                <input class="form-control col-xs-3" type="password" name="newPassword" id="newPassword">
                <label>새로운 비밀번호 확인</label>
                <input class="form-control col-xs-3" type="password" name="re_password" id="re_password">
                <button type="submit">변경완료</button>
                <button type="button" id="btnCancelPassword">변경취소</button>
            </form>
            <button class="w-100 btn btn-lg btn-primary mt-3" id="btnChangePassword">비밀번호 변경하기</button>
        </div>
        <div class="form-group mt-3">
            <label for="email">이메일</label>
            <input type="text" class="form-control" id="email" name="email" th:value="${user.email}" disabled>
        </div>
        <div class="form-group mt-3">
            <label for="createDate">가입일</label>
            <input type="text" class="form-control" id="createDate" name="createDate" th:value="${#strings.substring(user.createDate, 0, 10)}" disabled>
        </div>
        <form method="GET" th:action="@{/mypage/delete}">
            <input type="hidden" name="userId" th:value="${user.id}">
            <button type="submit">회원 탈퇴</button>
        </form>
    </div>

</div>

</body>
</html>
