<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Child Houses</title>
</head>
<body>
<h2>Child Houses</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <!-- Add other fields as needed -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="childHouse : ${childHouses}">
        <td th:text="${childHouse.id}"></td>
        <td th:text="${childHouse.crName}"></td>
        <td th:text="${childHouse.crTypeName}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
